@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  background-color: #fff2e5;
}

html {
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}

/* Navbar */
#nav {
  background-color: #dca36a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
}

.navbar-brand {
  font-size: 20px;
  color: black;
  font-family: 'Lobster', cursive;
  height: 50px;
}

.navbar-style {
  box-shadow: 0 2px 10px #a5a2a2;
  background-color: #dca36a;
}

.logo {
  height: 50px;
  width: auto;
  padding: 2px 10px;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  font-size: 18px;
}

/* End navbar */

/* main */
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/img2.png) no-repeat;
  background-size: cover;
  height: 640px;
  width: 100%;
  background-position: center;
}

.main h1 {
  font-size: 40px;
  padding-top: 80px;
  font-weight: 700;
  color: white;
  padding-left: 50px;
}

.main p {
  color: #dca36a;
  margin-bottom: -70px;
  padding-left: 50px;
}

.btn {
  height: 45px;
  font-family: sans-serif;
  border: none;
  outline: none;
  background-color: #dca36a;
  color: white;
  font-weight: 700;
  border-radius: 40px;
}

.btn:hover {
  letter-spacing: 0.2rem;
}
/* end main */

/* konten */

.melayani {
  border-radius: 30px !important;
  box-shadow: 0 2px 10px #a5a2a2;
}

/* produk */

.card-tbl:hover {
  transform: scale(1.1);
}

.card-tbl {
  transition: 0.3s;
}

/* menu */

.kata {
  color: #dca36a;
  font-family: 'Poppins', sans-serif;
}

.tes {
  height: auto;
  width: 3rem;
  line-height: 27px;
  float: left;
  font-size: 17px;
  border: solid 1px black;
  border-radius: 30px;
  color: white;
  margin: 30px;
  background-color: #dca36a;
}

.radius {
  border-radius: 30px !important;
  box-shadow: 0 2px 10px #a5a2a2;
}

.star {
  color: #d3ad7f;
}

.keranjang {
  height: 3rem;
  width: 3rem;
  line-height: 2.5rem;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
  border: solid 1px #dca36a;
  border-radius: 30px;
  color: #dca36a;
  padding-top: 3px;
}

.keranjang:hover {
  color: black;
  background-color: #dca36a;
  box-shadow: 0 5px 10px #a5a2a2;
}

/* galery */
.gallary {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 4vw);
  gap: 2rem;
}

.gallary-item {
  overflow: hidden;
  position: relative;
}

.gallary-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallary-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms linear;
}

.gallary-item:hover .gallary-img {
  transform: scale(1.1);
}

.content a:hover {
  letter-spacing: 0.2rem;
}

.gallary-item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  width: 100%;
  text-align: center;
}

.gallary-item .content h2 {
  font-size: 2rem;
  font-weight: 500;
}

.gallary-item .content a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid white;
  color: white;
  margin-top: 2rem;
  text-decoration: none;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}

.item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-4 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

@media only screen and (max-width: 996px) {
  .gallary-item .content h2 {
    font-size: 1.6rem;
  }

  .gallary-item .content a {
    padding: 0.7rem 1.3rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .gallary-item .content h2 {
    font-size: 1.4rem;
  }

  .gallary-item .content a {
    padding: 0.4rem 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallary {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20);
  }

  .item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
  }
  .item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
  }
  .item-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 19;
  }
}

.brands li img {
  width: 100%;
  object-fit: contain;
  height: 12rem;
}

@media only screen and (max-width: 567px) {
  .brands li img {
    height: 9rem;
  }
}

/* Reviews */

.review {
  padding: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.review .orang {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star2 {
  color: #dca36a;
}

.star2 p {
  color: black;
}

/* contact */

.contact {
  background-color: #a5a2a2;
}

.maps {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.pesan {
  height: 100px !important;
}

/* footer */

.footer {
  background-color: #dca36a;
  line-height: 3rem;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #333;
}

.footer-info a:link,
.footer-info a:visited {
  display: block;
  color: white;
  font-size: 1rem;
  transition: 0.6s;
}

.footer-info a:hover {
  color: #f60091;
}

.footer-info div {
  color: white;
  font-size: 1rem;
}

.footer-info a {
  text-decoration: none;
}

.footer-info h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-info span {
  margin-right: 1rem;
}

.footer .credit {
  font-size: 15px;
  color: #333;
  text-transform: capitalize;
  font-weight: lighter;
  padding: 1.5rem;
}

@media only screen and (max-width: 998px) {
  .container-footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .container-footer {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
